.btn-voltar {
  width: 250px; 
}
.custom-td {
  min-height: calc(100% + 1px) !important;
}
#coordenadasAssinante {
  color: #007bff; 
  text-decoration: none; 
  background-color: #f8f9fa; 
  padding: 10px; 
  border-radius: 5px; 
}

#coordenadasAssinante:hover {
  color: #0056b3; 
  background-color: #e9ecef; 
  border: 1px solid; /
}
body,
.container-fluid {
  margin: 0;
  padding: 0;
}

th.col-acoes,
td.col-acoes {
  width: 100px;
}
body,
html {
  overflow-x: hidden;
}
.text-yellow {
  color: rgb(206, 31, 18) !important;
}
.tipo-2 {
  color: red !important; 
  font-size: 20px !important; 
}
