html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: url("../assets/Default_Create_a_logo_for_Eficincia_Logstica_a_company_special_0_ff2b4876-14e0-40c1-a188-97d590f4933b_0.png")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

body::after {
  content: "";
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

.navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  background-color: #f8f9fa; 
  border-radius: 50%; 
  padding: 0px; 
  width: fit-content; 
  height: fit-content; 

}