.btn-voltar {
    width: 250px; 
  }
  .custom-td {
    min-height: calc(100% + 1px)!important;
  }
  #coordenadasAssinante {
    color: #007bff;
    text-decoration: none; 
    background-color: #f8f9fa; 
    padding: 10px; 
    border-radius: 5px; 
  }
  
  #coordenadasAssinante:hover {
    color: #0056b3; 
    background-color: #e9ecef; 
    border: 1px solid; 
    
  }
